<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascending</key>
	<true/>
	<key>disclosure</key>
	<true/>
	<key>interfaceSize</key>
	<string>Normal</string>
	<key>showApplicationsOnly</key>
	<false/>
	<key>showCharacterDevices</key>
	<false/>
	<key>showDirectories</key>
	<true/>
	<key>showHomeFolderOnly</key>
	<false/>
	<key>showIPSockets</key>
	<false/>
	<key>showPipes</key>
	<false/>
	<key>showRegularFiles</key>
	<true/>
	<key>showUnixSockets</key>
	<false/>
	<key>sortBy</key>
	<string>name</string>
	<key>dnsLookup</key>
	<false/>
	<key>showProcessBinaries</key>
	<false/>
	<key>showCurrentWorkingDirectories</key>
	<false/>
	<key>searchFilterCaseSensitive</key>
	<false/>
	<key>searchFilterRegex</key>
	<true/>
	<key>friendlyProcessNames</key>
	<true/>
	<key>authenticateOnLaunch</key>
	<false/>
	<key>updateInterval</key>
	<integer>0</integer>
	<key>accessMode</key>
	<string>Any</string>
</dict>
</plist>
